<div class="bg-dark footer">
    <div class="container footer-container">
        <div class="footer-left text-light">
            <p class="align-middle">Wander</p>
        </div>
        <div class="footer-right text-light">
            <p>Copyright 2022. Wander.</p>
        </div>
    </div>
</div>

</body>
</html>