<div id='map' style='width: 100%; height: 300px; margin-bottom: 50px;'></div>
<script>
    mapboxgl.accessToken = 'pk.eyJ1IjoiYmVub3Jsb2ZmIiwiYSI6ImNsMXR0aXE3cjBpbDMzaXF2bGdkcHJ6cHAifQ.Ju341IcUlEvqkZXhSkY1Aw';
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/benorloff/cl1ttpomo000m14o640ovilw5',
        center: [0, 0],
        zoom: 3
    });

    map.on('load', function() {
      map.addLayer(
        {
          id: 'country-boundaries',
          source: {
            type: 'vector',
            url: 'mapbox://mapbox.country-boundaries-v1',
          },
          'source-layer': 'country_boundaries',
          type: 'fill',
          paint: {
            'fill-color': '#d2361e',
            'fill-opacity': 0.4,
          },
        },
        'country-label'
      );

      map.setFilter('country-boundaries', [
        "in",
        "iso_3166_1_alpha_3",
        'AFG'
      ]);
    });
</script>