<%- include('partials/header') %>

<div class="px-4 py-5 mb-5 text-center home-hero">
    <img class="d-block mx-auto mb-4" src="/images/wander-icon.png" alt="" width="72" height="72">
    <h1 class="display-5 fw-bold">Remember every journey.</h1>
    <div class="col-lg-6 my-5 mx-auto">
      <p class="lead mb-4">It's hard to keep track of every place you've ever been. With Wander, you can keep track of your travels and revisit them over and over again. Whether you use Wander just for you or to stir up some healthy competition with friends, we can't wait to see where you go next.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <% if (user) { %>
          <a href="/users/<%= user._id %>" class="btn btn-primary btn-lg px-4 gap-3" role="button">My Profile</a>
          <% } else { %>
            <a href="/auth/google" class="btn btn-primary btn-lg px-4 gap-3" role="button">Sign Up</a>
         <% } %>
        <a href="/countries/all" class="btn btn-outline-secondary btn-lg px-4" role="button">Explore</a>
      </div>
    </div>
</div>
<div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">What can you do with Wander?</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <i class="fa-solid fa-marker fa-2xl mb-5 text-light"></i>
        <h3>Write your story</h3>
        <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
        <a href="/posts/new" class="icon-link">
          Create a journal <i class="fa-solid fa-circle-arrow-right fa-lg"></i>
        </a>
      </div>
      <div class="feature col">
        <i class="fa-solid fa-question fa-2xl mb-5 text-light"></i>
        <h3>Ask questions</h3>
        <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
        <a href="/countries/all" class="icon-link">
          Post your question <i class="fa-solid fa-circle-arrow-right fa-lg"></i>
        </a>
      </div>
      <div class="feature col">
        <i class="fa-solid fa-certificate fa-2xl mb-5 text-light"></i>
        <h3>Collect badges</h3>
        <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
        <a href="/countries/all" class="icon-link">
          Add a country <i class="fa-solid fa-circle-arrow-right fa-lg"></i>
        </a>
      </div>
    </div>
</div>
<div class="container">
  <h2 class="py-5">Recent Journals</h2>
    
  <%- include('partials/posts-loop') %>

  <form action="/posts/all" method="GET"><button type="submit" class="btn btn-primary mb-5">View All Posts</button></form>

</div>


<%- include('partials/footer') %>