.brand-logo {
  margin-left: 15px;
}

.card .card-content .card-title {
  margin-bottom: 10px;
}

#search-row form {
  padding-top: 20px;
}

.student-name {
  position: relative;
  top: -5px;
}

.collection-item form {
  margin-top: -5px;
}

#userNavImg {
  height: 35px;
  border-radius: 50%;
}

.footer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-left {
  display: flex;
  flex-basis: 50%;
  justify-content: flex-start;
}

.footer-right {
  display: flex;
  flex-basis: 50%;
  justify-content: flex-end;
}

.country-list-result-container {
  display: flex;
  flex-direction: row;
  align-items:center;
  box-shadow: 0 0 10px #bbbbbb;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.country-list-result-container img {
  height: 50px;
}

.country-list-result-info {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
}

.country-list-result-info h5 {
  flex-grow: 4;
  align-content: center;
}

.country-list-result-info button {
  flex-grow: 1;
  align-items: center;
}