/*-----GLOBAL STYLES-----*/

:root {
  --color-surface-dark: #121212;
  --color-gray-dark: #3B3B3B;
  --color-gray-light: #CFCFCF;
  --color-primary: #4CAF50;
  --color-green-light: #81C784;
  --color-green-dark: #388E3C;
  --color-teal-dark: #00796B;
  --color-red-light: #FFCDD2;
  --color-red-medium: #E57373;
  --color-red-dark: #F44336;
  --color-orange-light: #FFCC80;
  --color-orange-medium: #FFB74D;
  --color-orange-dark: #FF9800;
  --color-purple-light: #E1BEE7;
  --color-purple-medium: #CE93D8;
  --color-purple-dark: #9C27B0;
  --color-blue-light: #BBDEFB;
  --color-blue-medium: #90CAF9;
  --color-blue-dark: #1976D2;
  --color-text-light: #FAFAFA;
  --color-text-dark: #121212;
}

body {
  background-color: var(--color-surface-dark);
}

p, h1, h2, h3, h4, h5, h6, span, button, label {
  color: var(--color-text-light);
}

.brand-logo {
  margin-left: 15px;
}

.card .card-content .card-title {
  margin-bottom: 10px;
}

#search-row form {
  padding-top: 20px;
}

.student-name {
  position: relative;
  top: -5px;
}

.collection-item form {
  margin-top: -5px;
}

#userNavImg {
  height: 35px;
  max-width: 35px;
  border-radius: 50%;
}

.footer {
  position: relative;
  bottom: 0px;
}

.footer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-left {
  display: flex;
  flex-basis: 50%;
  justify-content: flex-start;
}

.footer-right {
  display: flex;
  flex-basis: 50%;
  justify-content: flex-end;
}

/*----COUNTRIES-----*/

/* All Countries View */

.country-list-result-container {
  display: flex;
  flex-direction: row;
  align-items:center;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: var(--color-gray-dark);
}

.country-list-result-container img {
  height: 50px;
}

.country-list-result-info {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
}

.country-list-result-info h5 {
  flex-grow: 4;
  align-content: center;
}

.country-list-result-info button {
  flex-grow: 1;
  align-items: center;
}

/* Single Country View */

.subnavbar img, .bd-subnavbar img {
  height: 35px;
  margin-right: 10px;
}

.country-stats {
  margin-bottom: 50px;
}

/*-----NAV-----*/

.user-nav-img {
  border: 3px solid var(--color-primary);
}

.subnavbar {
  background-color: var(--color-gray-dark);
  position: sticky;
  top: 72px;
  z-index: 1000;
}

/*-----USER PROFILE-----*/

/* User Hero */

.profile-hero {
  background-image: url("/images/wander-user-hero.jpeg");
  height: 300px;
  background-position: bottom;
  background-size: cover;
}

/* User Intro */

.profile-intro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 50px;
}

.profile-avatar img {
  border-radius: 50%;
  border: 5px solid var(--color-primary);
  margin-top: -48px;
}

/* User Stats */

.profile-stats {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  gap: 25px;
  margin-bottom: 50px;
}

.stats-card {
  background-color: var(--color-gray-dark);
  padding: 25px;
  border-radius: 5px;
}

.flags-collected {
  flex-grow: 2;
}

.flags-collected img {
  height: 35px;
}

.badges-collected {
  flex-grow: 2;
}

.badges-collected img {
  height: 50px;
}

.world-percent {
  flex-grow: 1;
}

/* User Posts */

.profile-posts {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 50px;
}

.post-card {
  background-color: var(--color-gray-dark);
  padding: 25px;
  border-radius: 5px;
}

/*-----POSTS-----*/

/* Single post */

.bd-subnavbar p {
  margin-bottom: 0;
}

.post-byline-header {
  margin-top: 50px;
  margin-bottom: 25px;
}

.post-byline-info p, .post-byline-info h5  {
  margin-bottom: 0;
}

.post-byline-avatar {
  margin-right: 15px;
}

.post-byline-avatar img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

