:root {
  --color-surface-dark: #121212;
  --color-gray-dark: #3B3B3B;
  --color-gray-light: #CFCFCF;
  --color-primary: #4CAF50;
  --color-green-light: #81C784;
  --color-green-dark: #388E3C;
  --color-teal-dark: #00796B;
  --color-red-light: #FFCDD2;
  --color-red-medium: #E57373;
  --color-red-dark: #F44336;
  --color-orange-light: #FFCC80;
  --color-orange-medium: #FFB74D;
  --color-orange-dark: #FF9800;
  --color-purple-light: #E1BEE7;
  --color-purple-medium: #CE93D8;
  --color-purple-dark: #9C27B0;
  --color-blue-light: #BBDEFB;
  --color-blue-medium: #90CAF9;
  --color-blue-dark: #1976D2;
  --color-text-light: #FAFAFA;
  --color-text-dark: #121212;
}

body {
  background-color: var(--color-surface-dark);
}

.brand-logo {
  margin-left: 15px;
}

.card .card-content .card-title {
  margin-bottom: 10px;
}

#search-row form {
  padding-top: 20px;
}

.student-name {
  position: relative;
  top: -5px;
}

.collection-item form {
  margin-top: -5px;
}

#userNavImg {
  height: 35px;
  border-radius: 50%;
}

.footer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-left {
  display: flex;
  flex-basis: 50%;
  justify-content: flex-start;
}

.footer-right {
  display: flex;
  flex-basis: 50%;
  justify-content: flex-end;
}

.country-list-result-container {
  display: flex;
  flex-direction: row;
  align-items:center;
  box-shadow: 0 0 10px #bbbbbb;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.country-list-result-container img {
  height: 50px;
}

.country-list-result-info {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
}

.country-list-result-info h5 {
  flex-grow: 4;
  align-content: center;
}

.country-list-result-info button {
  flex-grow: 1;
  align-items: center;
}

.subnavbar {
  background-color: var(--color-gray-dark);
}