<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add Country</h1>

    <form action="/countries" method="POST">
        <label>Name</label>
        <input type="text" name="name">
        <label>Capital</label>
        <input type="text" name="capital">
        <label>isoCode</label>
        <input type="text" name="isoCode">
        <label>flagImageUri</label>
        <input type="text" name="flagImageUri">
        <label>wikiDataId</label>
        <input type="text" name="wikiDataId">
        <input type="submit">
    </form>
</body>
</html>