<%- include('../partials/header') %>

<div class="profile-hero"></div>

<div class="container profile-intro">
    <div class="profile-avatar">
        <img src="<%= user.avatar %>" alt="Avatar">
    </div>
    <div class="profile-bio">
        <h1><%= user.name %></h1>
    </div>
    <div class="profile-actions">
        <button class="btn btn-primary">Action #1</button>
        <button class="btn btn-primary">Action #2</button>
    </div>
</div>

<%- include('../partials/footer') %>